build/*
sstar.egg-info/*
dist/*
*/__pycache__/*
.pytest_cache/*
.benchmarks/*
*/.snakemake/*
examples/pre-trained/*
examples/snakepipe/results/*
examples/snakepipe/.snakemake/*
examples/snakepipe/logs_slurm/*
.coverage
tests/results/simulation
tests/results/test.archie.out
tests/results/test.sstar.out
tests/results/test.tract.with.src.match.rate.bed
sstar/test
test_data
*.out
