build/*
sstar.egg-info/*
dist/*
*/__pycache__/*
.pytest_cache/*
.benchmarks/*
*/.snakemake/*
examples/snakepipe/results/*
examples/snakepipe/.snakemake/*
examples/snakepipe/logs_slurm/*
.coverage
tests/results/simulation
site
