name: dry-run

on: ['push', 'pull_request']

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.8
      uses: actions/setup-python@v3
      with:
        python-version: 3.8
    - name: Add conda to system path
      run: |
        echo $CONDA/bin >> $GITHUB_PATH
    - name: Install dependencies
      run: |
        conda config --set safety_checks disabled
        conda config --set channel_priority strict
        conda env update --file conda-env.yml --name base
    - name: Test dry-run
      run: |
        cd examples/snakepipe
        snakemake -np
